


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


:root {
    --cyan: #3DBDFF;
    --naranja: #FF8009;
    --rojo: #ca1e00;
    --parrafo: #3e4749;
    --sombras: rgba(0, 126, 172, 0.269);
}

.hide-element{
    display: none;
}

h1{
    color: var(--cyan);
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    
    
}

h2{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--naranja);
    font-size: 40px;
    text-align: center;
    margin: 0 0 20px 0;
}

h3{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--rojo);
}


p{
    font-family: "Noto Sans Tamil Supplement", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--parrafo);
    font-size: 15px;
    text-align: justify;
}

#cabezera-web{
    background-color: white;
    padding: 12px 15px;
    -ms-flex-align: start;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: grosor estilo color; */
    border-bottom: 3px solid var(--cyan);
}

.bt-principal{
    font-family: "Noto Sans Tamil Supplement", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0 20px;
    font-size: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: var(--cyan);
    padding: 8px 15px;
    border-radius: 200px;
    /*animacion por transition: duracion caracteristica animacion*/
    transition: 0.1s all linear;
    text-align: center;
}

.bt-principal:hover{
    background-color: var(--naranja);
    padding: 10px 18px;
    color: white;
}

.tarjetas{
    display:flex;
    align-content: flex-start;
    justify-content: space-between;
}


img{
    width: 100%;
    
}

/* seccion destacadas */

.destacado{
    padding: 100px 0;
}

.vermas{
    font-family: "Noto Sans Tamil Supplement", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: white;
    transition: 0.1s all linear;
    background-color: var(--cyan);
    border-radius: 200px;
    text-decoration: none;
    padding: 5px 8px;
    display: inline-block;
    margin: 10px 0;
}

.vermas:hover{
    background-color: var(--naranja);
    padding: 8px 11px;
}

.articulo-index{
    margin: 10px 15px;
    padding: 20px;
    box-shadow: 0 0 20px var(--sombras);
    border-radius: 20px;
}

/* seccion multimedia */

.multimedia{
    background-color: var(--naranja);
}

#h2-multimedia{
    color: white !important;
    padding: 30px 0 10px 0;
}

/* =========================== */

@media (max-width: 800px){
    #cabezera-web{
        flex-direction: column;
    }
    #cabezera-web > nav{
        width: 100%;
    }
    .bt-principal{
        display: block;
        width: 100%;
        border-radius: 0%;
        border-bottom: 1px solid var(--cyan);
        background-color: white;
        color: var(--cyan);
    }
    .tarjetas{
        flex-direction: column;
    }
}